*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

#login{
    height: 450px;
    width: 300px;
    border: 2px solid rgb(51, 47, 47);
    border-radius: 20px;
    margin: 100px 400px 0px 500px;
   box-shadow: 0px 0px 30px rgb(40, 222, 55);
   

}



h1{
    padding: 50px 0px 40px 80px;
    
}


#username{
    height: 40px;
    width: 240px;
    border-radius: 10px;
    margin: 5px 0px 30px 30px;

}

label{
    height: 40px;
    width: 240px;
    border-radius: 10px;
    margin: 5px 0px 30px 30px;

}


#password{
    height: 40px;
    width: 240px;
    border-radius: 10px;
    margin: 5px 0px 0px 30px; 

}

#loginBtn{
    height: 50px;
    width: 200px;
    border-radius: 50px;
    margin: 25px 0px 0px 50px;
    font-size: large;
}

#loginBtn:hover{
    background-color: green;
    color: white;

}

label{
    font-size:large;
    
    
}

#checkbox{
    margin: 20px 0px 0px 30px;
}

a{
    margin: 20px 0px 0px 30px;
}


