*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    height: 500px;
    width: 400px;
    border: 3px solid black;
    margin: 200px;
    border-radius: 9px;
    text-align: center;
    padding-top: 20px;
    background-color: rgb(198, 163, 193);
}
button{
    height: 40px;    
    width: 200px;
    font-size: large;
    margin-top: 40px;
}

H2{
    margin: 20px 0px 30px 0px;
}

.phone{
    box-sizing: border-box;
}